@model WebApplication3.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<link rel="stylesheet" href="../css/site.css" />
<div align="center" style="background-color: #daf3f6">

<h2 class="heading">@ViewBag.Title</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your Username.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        </div>
    </div>
    <div style="margin-top:20px; margin-bottom:20px">
        <div>
            <input class="input_style" type="submit" value="Send Email Link" />
        </div>
    </div>
}

    </div>
