@model WebApplication3.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}
<link rel="stylesheet" href="../css/site.css" />
<h2 align="center" class="heading">@ViewBag.Title.</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div align="center" style="background-color: #daf3f6">
        <h4 align="center" class="heading">Reset your password</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)

        @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
        <div>
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        </div>

        <div>
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

        <div style="margin-top:5px">
            <input class="input_style" type="submit" value="Reset" />
        </div>
    </div>
}

